.centeredDiv {
    position: absolute;
    margin: auto;
    text-align: center;
    font-family:'Roboto';
    color: black;
    background-color: #e6affc;
}

.title {
    font-family:'Lilita One';
    font-style: bold;
}
